@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
.AboutText{
    background: hsl(0, 0%, 95%);
    height: 86vh;
    overflow: hidden;
    color: #333;
}
.AboutText h1{
    font-family: 'Kanit', sans-serif;

}
.About_info{
    color: #737380;
}
.StartBtn{
    transition: .5s;
    position: relative;
}
.StartBtn img{
    position: absolute;
    transition: .5s;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
}
.StartBtn:hover img{
    margin-left: .5rem;

}
.AboutBtn > a{
    padding: 1rem 3rem 1rem 2rem!important;
}