@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
:root{
    --theme-clr: #1488CC;
    --theme-clr-2: #2B32B2;
}

.mainText{
    line-height: 1.16;
    
}
.mainText h1{
    font-family: 'Kanit', sans-serif!important;
    font-weight: 900;
}
.mainText h5{
    margin: 2rem 0;    
}


.Opportunity{
    margin: 2rem 0;
    padding: 1rem 2rem!important;
    /* background-image: linear-gradient( to right, #00B4DB, #0083B0); */
    /* background-image: linear-gradient( to right,  #1488CC, #2B32B2 ); */
    background-image: linear-gradient( to right,  #00d2ff, #3a7bd5 );
    color: #fff!important;
    border-radius: 5px;
    font-family: 'Oxygen', sans-serif!important;
    font-size: 1.5em;
    position: relative;
    font-size: clamp(1rem, 100vw, .9rem);
}
.Opportunity:hover{
    color: #fff!important;
}
.StartBtn{
    transition: .5s;
    position: relative;
}
.StartBtn img{
    position: absolute;
    transition: .5s;
    top: 50%;
    left: 80%;
    transform: translate(50%,-50%);
}
#AboutNextIcon{
    top: 50%!important;
    left: 70%!important;
}
#ThirdPageIcon{
    top: 50%!important;
    left: 75%!important;
}
.StartBtn:hover img{
    margin-left: .5rem;
    color: #fff!important;

}

ul{
    margin: 0!important;
    color: #1488CC;
}
/* COUNTER */
.timer{
    background: linear-gradient(to right,#00b09b    , #96c93d);
    padding: .5rem 1.5rem;
    min-width: 120px;
    min-height: 50px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}
/* COUNTER END */

.BackBtn{
    position: absolute;
    top: 6%;
    left: 2%;
    z-index: 10;
}
section{
    position: relative;
}

.Fcard *{
    transition: .5s;
}

.Fcard:hover,
.Fcard:hover i
{
    border-color: var(--theme-clr);
    color: var(--theme-clr);
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* .AboutSection{
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
} */
.AboutText{
    background: hsl(0, 0%, 95%);
    height: 100%!important;
    color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
    overflow: scroll;
}
.AboutText h1{
    font-family: 'Kanit', sans-serif;

}
.About_info{
    color: #737380;
}
.CVV > div{
    margin-left: 1rem !important;
}

@media (max-width: 860px){
    .Opportunity{
        padding:    .5rem 2rem .5rem 1rem!important;
    }
}

@media (min-width: 767px) {
    img.mobile {
        display: none!important;
    }



}
@media (max-width: 767px) {
    img.desktop {
        display: none!important;
    }   
    .CVV > div{
        margin-left: 0rem !important;
    }

}
.pop-up{
    background-color: #defdef;
    border-radius: 5px;
    padding: 2rem;
}