.ThirdPage{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
}
.circleCustomer{
    margin: 1rem;
    
}
.circleCustomer  img{
    border-radius: 100%!important;
    object-fit: cover!important;
}
.ThirdPage .card{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}